.heroimg img {
  border-radius: 1.125rem;
}

.showcase {
  position: relative;
  z-index: 0;

}
.showcase::before {
  z-index: -10;
  content: "";
  position: absolute;
  height: 100vh;
  transform: translateY(-4rem);
  width: 100%;

  --showcase-bg-overlay: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
      0deg,
      var(--showcase-bg-overlay) 0%,
      var(--showcase-bg-overlay) 100%
    ),
    url(/hero.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: center, -10rem;
}

.ctaButton {
  box-shadow: inset 0 0 0 2px #ec4899;
}
.ctaButton:hover {
  box-shadow: inset 0 0 0 2px #1e40af;
}

@media screen and (min-width: 48rem /* 768px */) {
  .showcase::before {
    background-position-x: center;
    background-size: cover;
    transform: translateY(-66px);
  }
}
